
@{
    Layout = "~/Views/Shared/_Passenger.cshtml";
}
<br/>
<br/>
<br/>
<!DOCTYPE html>
<html>
<title>W3.JS</title>
<script src="https://www.w3schools.com/lib/w3.js"></script>
<body>

    <img class="nature" src="~/img/download.jfif" width="75%">
    <img class="nature" src="~/img/images.jfif" width="75%">
    <script>
        w3.slideshow(".nature", 2000);
    </script>
</body>
</html>
​