@model IEnumerable<TaxiApplication.Data.Laggage>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Passenger.cshtml";
}

<h2>Index</h2>

<img src="~/assets/images/demo/slider/Screenshot (65).png" data-thumb="~/assets/images/demo/news/Screenshot (65).png" " alt="" title="#caption1" />



<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tr>
                <th> Stand 1</th>
                <td>
                    <div class="input-group">
                        <div class="input-group-addon">
                           Mpumalanga, South Africa
                        </div>                                           
                    </div>
                </td>
            </tr>
            <tr>
                <th>Stand 2</th>
                <td>
                    <div class="input-group">
                        <div class="input-group-addon">
                            Qwaqwa, South Africa
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Stand 3</th>
                <td>
                    <div class="input-group">
                        <div class="input-group-addon">
                          Lusikisiki, South Africa
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Stand 4</th>
                <td>
                    <div class="input-group">
                        <div class="input-group-addon">
                            Amersfoot, South Africa
                        </div>

                    </div>
                </td>
            </tr>
            <tr>
                <th>Stand 5</th>
                <td>
                    <div class="input-group">
                        <div class="input-group-addon">
                           Port Elizabeth, South Africa
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Stand 6</th>
                <td>
                    <div class="input-group">
                        <div class="input-group-addon">
                            Mtata, South Africa
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table">
            <tr>
                <th> Stand 7</th>
                <td>
                    <div class="input-group">
                        <div class="input-group-addon">
                            Welkom, South Africa
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Stand 8</th>
                <td>
                    <div class="input-group">
                        <div class="input-group-addon">
                            Gauteng, South Africa
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Stand 9</th>
                <td>
                    <div class="input-group">
                        <div class="input-group-addon">
                            Pongola, South Africa
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Stand 10</th>
                <td>
                    <div class="input-group">
                        <div class="input-group-addon">
                            Maputo, Mozambique
                        </div>

                    </div>
                </td>
            </tr>
            <tr>
                <th>Stand 11</th>
                <td>
                    <div class="input-group">
                        <div class="input-group-addon">
                            East London, South Africa
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Stand 12</th>
                <td>
                    <div class="input-group">
                        <div class="input-group-addon">
                            Mahupeng, Lesotho
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>